{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block topic-nav %}
<div class="topic-content">
  <nav class="topic-nav">
    <div id="filler">
        <h1>{% trans "Confirm E-mail Address" %}</h1>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    {% if confirmation %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <h5 class="text-center">{% blocktrans with confirmation.email_address.email as email %}Please
            confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
            {{ user_display }}.{% endblocktrans %}</h5>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
        </form>
    </div>
    {% else %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% url 'account_email' as email_url %}
        <h5 class="text-center">{% blocktrans with confirmation.email_address.email as email %}Please
            confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
            {{ user_display }}.{% endblocktrans %}</h5>
    </div>
    {% endif %}
</div>

{% endblock %}