{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block topic-nav %}
<div class="topic-content">
  <nav class="topic-nav">
    <div id="filler">
      <h2>{% trans "Sign Up" %}</h2>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="card bg-light">
    <div class="card-head">
      <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">
          sign in</a>.{% endblocktrans %}</p>
    </div>
    <div class="card-body">   
      <form class="signup text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
