body {
  margin: 0;
  font-size: 1rem;
}

.contrast-text {
    width: fit-content;
    padding: 0.5rem;
    text-align: center;
    color: rgba(250, 235, 215, 1);
    background-color: rgba(0, 0, 0, 0.4);
}

#filler {
  text-align: center;
}

.jumbotron-fluid {
  background-image: url('/static/images/vincenzo-morelli-Cj35lHL4atY-unsplash.ea893d2dc0cf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: contain; 
  color: white;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#jumbotron-link {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.margin-left {
  margin-left: 10vw;
}

.block-content {
  background-image: url('/static/images/dean-ricciardi-yUDldIrqW5E-unsplash.d8cb159e3138.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60vh;
}

.post-title, .post-subtitle, .post-topic, .requiredField {
  color: white;
}

h2 {
  color: #d4df53;
  text-align: center;
  padding: 2rem;
}

.submit {
  margin: 2rem;
}

.custom-submit {
  background-color: #d4df53;
}

.required {
  color: #d4df53;
}

.form-control {
  border: #0b5ed7 solid 3px;
}

.recent-card, .topic-card, .table {
  width: 90vw;
  margin-top: 5rem;
  border: #0b5ed7 solid 3px;
}

.card {
  border: #0b5ed7 solid 3px;
}

.card-text {
  color: black;
}

.card a {
  color: black;
  text-decoration: none;
}

.table a {
  color: black;
}


.text-center a {
  color: black;
  text-decoration: none;
}

.dropdown a {
  color: white;
  text-decoration: none;
}

.topic-nav a, .btn-add a {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.topic-nav a:hover {
  color: #d4df53;
}

.topic-nav a:active {
  color: #d4df53;
}

.margin-1 {
  margin: 1rem;
}

.larger-font {
  font-size: larger;
}

.bg-custom{
  background-color: white;
  color: black;
}

.hidden-sm {
  display: none;
}

.btn-delete {
  background-color: white;
}

.alert-dismissible {
  line-height: 3rem;
}

.profile-text {
  color: black;
  text-align: center;
  margin: unset;
}

.btn-like {
  border: none;
  background: transparent;
}

/* ----------------------------------------Media queries */

@media screen and (min-width: 1800px) {
    .recent-card, .topic-card, .table {
    width: 50vw;
    margin-top: 10px;
  }
  
}

@media screen and (min-width: 800px) {
  .hidden-sm {
    display: unset;
    }

  .topic-item {
    margin: 1rem;
  }

  .table a {
    font-size: larger;
  }

}

