@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&display=swap');

/* ----------------------------------------General styling */

body {
  margin: 0;
  font-size: 1rem;
  color: black;
  background-color: #f0f0f0;
}

a, .nav-link {
  color: white;
  text-decoration: none;
}

h2 {
  padding: 0.5rem;
}

table {
  border: black .5px solid;
}

/* ----------------------------------------Auth. templates */

#email-confirmation {
  color: black !important;
}

.login label, .signup label, .edit label {
  display: block;
}

/* ----------------------------------------Jumbotron */

#logo, #jumbotron-link, #jumbotron-alt {
  font-family: 'Audiowide', cursive;
}

#transparent, #transparent-sm {
  background-color: rgba(8, 9, 0, 0.5) !important;
  color: white;
}

.transperant-text {
  color: white !important;
}

.jumbotron-fluid {
  background-image: url('/static/images/vincenzo-morelli-Cj35lHL4atY-unsplash-small.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
}

#jumbotron-link {
  color: white;
  font-size: larger;
  text-decoration: none;
}

#fit-content {
  max-width: fit-content;
}

/* ----------------------------------------Topic content */

.topic-item {
  border: none;
}

.topic-nav a, .btn-add a {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.alert-dismissible {
  line-height: 3rem;
}

#filler {
  text-align: center;
}

/* ----------------------------------------Block content general */

.block-content {
  min-height: 60vh;
}

.margin-left {
  margin-left: 10vw;
}

.margin-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.post-title, .post-subtitle, .post-topic {
  color: white;
}

.recent-card, .topic-card, .table {
  width: 90vw;
}

.card-text, .table a {
  color: black;
}

.card a, .text-center a {
  color: black;
  text-decoration: none;
}

thead {
  background-color: rgba(0,0,0,0.03)
}

.submit {
  margin: 2rem;
}

.btn-like {
  border: none;
  background: transparent;
}

.bg-custom{
  background-color: white;
  color: black;
}

/* ----------------------------------------Custom text style */

.larger-font {
  font-size: larger;
}

.profile-text {
  color: black;
  text-align: center;
  margin: unset;
}

#white-underscore {
  color: white;
  text-decoration: underline;
}

#white-text {
  color: white;
}

#login, #signup {
  text-decoration: underline;
}

.hidden-sm {
  display: none;
}

/* ----------------------------------------Media queries */

@media screen and (min-width: 1800px) {
  .list-group, .card, .table {
    width: 50vw;
  }

  .jumbotron-fluid {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

@media screen and (min-width: 800px) {
  .hidden-sm {
    display: unset;
    }

  .topic-item {
    margin: 1rem;
  }

  .table a {
    font-size: larger;
  }

  #transparent-sm {
   background-color: transparent !important;
  }

  .jumbotron-fluid {
   background-image: url('/static/images/vincenzo-morelli-Cj35lHL4atY-unsplash.ea893d2dc0cf.jpg');
  }

}

