{% extends 'base.html' %}
{% block content %}

<div class="container-fluid recent-posts">
    <h2>Recent posts:</h2>
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for post in posts %}
        {% if forloop.counter <= 4 %}
        <div class="card recent-card border-success text-center bg-dark">
            <a href="{% url 'post_display' post.slug %}">
                <h5 class="card-header dark-font bg-success">
                    <strong>{{ post.title }}</strong>
                    <br>
                    <small>{{ post.topic }}</small>
                </h5>
                <div class="card-body bg-custom  text-white">
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">Author: {{ post.generator }}</small></p>
                </div>
                <div class="card-footer text-muted">
                    <p class="card-text"><small class="text-muted">On: {{ post.created_date }} 
                        <i class="far fa-heart"></i> {{ post.number_of_likes }}</small>
                    </p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}