{% extends "base.html" %}
{% block content %}

<div class="container">
{% if search %}
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 text-center">
        <h2>You searched for {{ search }} in Post Titels, Post Content and Play Events:</h2>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div class="mt-4 table-responsive-md">
          <table class="table bg-light table-hover shadow">
              <thead class="thead-light">
              <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Topic</th>
                  <th scope="col">Created date</th>
                  <th scope="col">Username</th>
              </tr>
              </thead>
              {% for post in posts %}
              <tbody>
                <tr>
                    <td><a href="{% url 'post_display' post.slug %}" aria-label="Go to post"><strong>{{ post.title }}</strong></a></td>
                    <td>{{ post.topic }}</td>
                    <td>{{ post.created_date }}</td>
                    <td>{{ post.generator }}</td>
                </tr>
              </tbody>
              {% empty %}
              <h4>Sorry</h4>
              <p>There are no post with '{{ search }}' in posts.</p>
              {% endfor %}
          </table>
          <table class="table bg-light table-hover shadow">
            <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Created date</th>
                <th scope="col">Username</th>
            </tr>
            </thead>
            {% for content in contents %}
            <tbody>
              <tr>
                  <td><a href="{% url 'post_display' content.slug %}" aria-label="Go to post"><strong>{{ content.title }}</strong></a></td>
                  <td>{{ content.content }}</td>
                  <td>{{ content.created_date }}</td>
                  <td>{{ content.generator }}</td>
              </tr>
            </tbody>
            {% empty %}
            <h4>Sorry</h4>
            <p>There are no post with '{{ search }}' in the content.</p>
            {% endfor %}
        </table>
          <table class="table bg-light table-hover shadow">
            <thead class="thead-light">
            <tr>
              <th scope="col">Set up</th>
              <th scope="col">Date</th>
              <th scope="col">Location</th>
              <th scope="col">Username</th>
            </tr>
            </thead>
            {% for play in plays %}
            <tbody>
              <tr>
                <td><a href="{% url 'play_display' play.slug %}" aria-label="Go to post"><strong>{{ play.setup }}</strong></a><br><small class="hidden-sm">{{play.description}}</small></td>
                <td>{{ play.date }} : {{ play.time }}</td>
                <td>{{ play.location }}</td>
                <td>{{ play.generator }}</td>
              </tr>
            </tbody>
            {% empty %}
            <h4>Sorry</h4>
            <p>There are no play events with '{{ search }}' in the description.</p>
            {% endfor %}
        </table>
          {% else %}
          <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 text-center">
              <h4>You forgot to type in something to search for...</h4>
            </div>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}