{% extends 'base.html' %}

{% block content %}

<div class="container-fluid recent-posts">
    <h2>Posts in topic:</h2>
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-2 mx-auto text-center mt-5">
                <div class="btn d-inline-block main-btn">
                    <button type="button" class="btn btn-outline-success btn-add">
                        <a href="{% url 'add_post' %}">Add Post</a>
                    </button>                        
                </div>
            </div>
        </div>
        {% endif %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for post in posts %}
        <div class="card recent-card border-success text-center bg-dark">
            <a href="{% url 'post_display' post.slug %}">
                <h5 class="card-header text-white">
                    <strong>{{ post.title }}</strong>
                    <br>
                    <small>{{ post.topic }}</small>
                </h5>
                <div class="card-body bg-custom text-white">
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">Author: {{ post.generator }}</small></p>
                </div>
                <div class="card-footer bg-custom">
                    <div class="d-flex flex-column justify-content-center">
                        <strong class="text-secondary"><i class="far fa-comments"></i> {{post.comments.count}}
                            <i class="far fa-heart"></i> {{post.likes.count}}
                        </strong>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}