{% extends 'base.html' %}

{% block content %}

<div class="container recent-posts">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col text-center mb-4 mt-4">
            <button class="btn btn-primary">
                <a href="{% url 'add_post' %}" class="white-text" aria-label="Click to add post">Add Post</a>
            </button>
        </div>
    </div>
    {% endif %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for post in page_obj %}
        <div class="card recent-card text-center bg-light shadow mt-4 mb-3 bg-white rounded">
            <a href="{% url 'post_display' post.slug %}" aria-label="Go to post">
                <h4 class="card-header">
                    <strong>{{ post.title }}</strong>
                </h4>               
                <div class="card-body bg-custom"> 
                    <p class="card-text">{{ post.topic }}</p>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-subtitle"><small>Posted by: {{ post.generator }}</small></p>
                    <p class="card-subtitle"><small class="text-muted">Last edited: {{ post.updated_date }} <br> 
                        <i class="fas fa-comments"></i> {{post.comments.count}}
                        <i class="far fa-heart"></i> {{ post.number_of_likes }} </small>
                    </p>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col-lg-4 text-center mb-5 mt-1">
            <div class="card w-30">
                <div class="card-header">
                    <h5>Oh no! This topic got no posts yet!</h5>
                    <p class="text-muted"><small>To get access to all the
                        features, you need to be a verified user. <br> If you have not created an account yet, please
                        sign up.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn custom-submit">
                        <a href="{% url 'account_signup' %}" aria-label="Go to signup page">Sign up &raquo;</a>
                    </button> 
                </div>                       
            </div>
        </div>
    {% if forloop.counter|divisibleby:4 %}
    </div>
        <div class="row no-gutters">
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Pagination -->
{% include "pagination.html" %}

{% endblock %}