{% extends "base.html" %}

{% block topic-nav %}
<div class="topic-content">
  <nav class="topic-nav">
    <div id="filler">
        <h2 class="header py-4">Welcome {{ user.username }} to your profile page!</h2>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="card card-body bg-white border-light shadow-sm my-4">
                    <h3 class="profile-text">Profile information</h3>
                    <div class="d-flex flex-row flex-wrap justify-content-center">
                        <div class="col-md-3 my-5 mx-auto">
                            <div>
                                <label for="user_name">User Name</label>
                                <input name="first_name" class="form-control" id="user_name" type="text"
                                    placeholder="User name" value="{{ user.username }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-3 my-5 mx-auto">
                            <div>
                                <label for="email">Email</label>
                                <input name="email" class="form-control" id="email" type="email"
                                    placeholder="Email adress" value="{{ user.email }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center mt-4">
                            <button type="submit" id="white-text" class="btn btn-primary"><a href="{% url 'account_email' %}" aria-label="Update email">Update Email</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex flex-row justify-content-center">
        <div class="mt-4 table-responsive-md">
            <table class="table bg-light table-hover shadow">
                <thead class="thead-light">
                    <h2 class="profile-text">Your Posts:</h2>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'post_display' post.slug %}" aria-label="Go to post">{{ post.title }}</a></td>
                        <td>{{ post.created_date }}</td>
                        <td><strong class="text-secondary"><i class="fas fa-comments margin-1">
                            </i>{{post.comments.count}}</strong></td>
                    </tr>
                    {% endfor %}
                    {% for play in plays %}
                    <tr>
                        <td><a href="{% url 'play_display' play.slug %}" aria-label="Go to post">{{ play.setup }}</a></td>
                        <td>{{ play.created_date }}</td>
                        <td><strong class="text-secondary"><i class="fas fa-comments margin-1">
                            </i>{{play.play_list_comments.count}}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
               
            </table>
        </div>
    </div>
</div>

{% endblock %}