{% extends "base.html" %}

{% block topic-nav %}
<div class="topic-content">
  <nav class="topic-nav">
    <div id="filler">
        <h2 class="header">Welcome {{ user.username }} to your profile page!</h2>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row bg-light">
        <div class="col">
           <div class="card card-body bg-white border-light shadow-sm mb-4">
            <h2 class="profile-text">Profile information</h2>
                {% csrf_token %}
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    <div class="col-md-3 mb-2 mx-auto">
                        <div>
                            <label for="user_name">User Name</label>
                            <input name="first_name" class="form-control" id="user_name" type="text"
                                placeholder="User name" value="{{ user.username }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2 mx-auto">
                        <div>
                            <label for="email">Email</label>
                            <input name="email" class="form-control" id="email" type="email"
                                placeholder="Email adress" value="{{ user.email }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary"><a href="{% url 'account_email' %}">Update Email</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="mt-4 table-responsive-md">
            <table class="table bg-light">
                <thead class="bg-primary">
                    <h2 class="profile-text text-white">Your Posts:</h2>
                <tr>
                    <th scope="col">Topic</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Comments</th>
                </tr>
                </thead>
                {% for post in posts %}
                <tbody>
                <tr>
                    <td><a href="{% url 'post_display' post.slug %}">{{ post.topic }}</a></td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.created_date }}</td>
                    <td><strong class="text-secondary"><i class="fas fa-comments margin-1">
                        </i>{{post.comments.count}}</strong></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
        <div class="col">
            
            <table>
                {% for post in posts %}
                <tr>
                    <td>
                        <a href="{% url 'post_display' post.slug %}">{{ post }} - by: {{ post.generator }}</a>
                    </td>
                </tr>
                {% empty %}
                <h4>Sorry</h4>
                <p>There are no post with '{{ search }}' in the title.</p>
                {% endfor %}
            </table>
      </div>
    </div>
 



{% endblock %}